<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Style Sheets -->
    <link rel="stylesheet" href="../stylesheets/core.css">
    <link rel="stylesheet" href="../stylesheets/tipography.css">
    <link rel="stylesheet" href="../stylesheets/grid.css">
    <link rel="stylesheet" href="../stylesheets/components.css">
    <link rel="stylesheet" href="../stylesheets/styles.css">
    <link rel="stylesheet" href="../stylesheets/animations.css">
    <!-- Extern Style Elements -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <title>Project Detail</title>
</head>
<body>
    <header class="row">
        <div class="col-lg-12 col-sm-4 sm-adj-menu-icon-pos">
            <a href="../index.html"><i class="ri-menu-4-fill sm-gral-icon gral-icon-style hidden-lg" style="position: absolute; right: 10%;"></i></a>
            <a href="../index.html"><i class="ri-menu-fill gral-icon-style-2 hidden-sm" style="position: absolute; z-index: 20; right: 2%; top: 3%;"></i></a>
        </div>
    </header>
    <main class="row">
        <div class="col-lg-6 col-sm-4">
            <div class="container-decorator">
                <div class="container-projectname cotainer-text">
                    <em class="main-txt-2 hidden-sm title-word title-word-1">
                        Project
                    </em>
                    <br>
                    <em class="main-txt-2 adj-txt-4 hidden-sm title-word title-word-2" >
                        Name
                    </em>
                    <em class="sm-main-txt-3 hidden-lg">Project Name</em>
                </div>
            </div>
        </div>
        <section class="col-lg-6 col-sm-4" style="z-index: 10;">
            <div class="container-project-info" >
                <div class="container-appdemo sm-app-demo">
                </div>
                <div class="container-project-details sm-description">
                    <div class="description-project ">
                        <strong class="main-medium-txt-4 hidden-sm">
                            Description
                        </strong>
                        <p class="ligth-regular-txt color-adj">
                            Lorem ipsum dolor sit amet consectetur adipiscing 
                            elit condimentum, eget libero est sem luctus leo 
                            porttitorsemper turpis, ornare netus dapibus auct
                            or taciti nulla 
                            elementum. Sagittis arcu rhoncus su
                            scipit cras cubilia
                            potenti, semper cum a himenaeo
                            s tristique torquent magnis,ultricies nisi non mont
                            es morbi. Potentinulla enim fermentum sapien he
                            ndrerit nunc praesent egestas quis id, et 
                        </p>
                        <div class="container-ops-2">
                            <div class="base-btn link-btn sm-link-btn">
                                <a href="./contact.html" class="ligth-regular-txt-2 sm-regular-txt-2">
                                    Try Now!
                                </a>
                            </div>
                            <a href="./services.html" class="light-iconic-txt" style="padding-left:5%;">Return</a>
                        </div>
                    </div>
                    <div class="container-linkrepo sm-linkrepo">
                        <a href="services.html" style="color:black;">
                            <i class="ri-github-fill gigant-icon-style sm-gral-icon"></i>
                        </a>            
                    </div>
                </div>
            </div>
        </section> 
        <div class="lg-wave-bg-3 hidden-sm"></div>    
        <div class="sm-wave-bg-3 hidden-lg"></div>  
    </main>
</body>
</html>