<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- Style Sheets -->
     <link rel="stylesheet" href="../stylesheets/core.css">
     <link rel="stylesheet" href="../stylesheets/tipography.css">
     <link rel="stylesheet" href="../stylesheets/grid.css">
     <link rel="stylesheet" href="../stylesheets/components.css">
     <link rel="stylesheet" href="../stylesheets/styles.css">
     <!-- Extern Style Elements -->
     <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
     
    <title>My Stack</title>
</head>
<body>
    <main class="row">
        <section class="col-md-4" style="margin-left:3%; margin-top: 3%;">
            <div class="container-img">
                <img src="" alt="">
                <div class="techname-container">
                    <h3 class="techname-txt">Technology</h3>
                </div>
            </div>
            <div class="container-info">
                <div class="exp-block">
                    <h5 class="main-medium-txt-2">Experience</h5>
                    <p class="ligth-regular-txt">Info, experience, projects</p>
                </div>
                <div class="frames-block">
                    <ol style="list-style:none">
                        <li>
                            <div class="container-techframe">
                                <img style="height: 90%; width: 90%;" alt="nodejs-logo" src="../SVG/nodejs-logo.svg"/> 
                            </div>
                        </li>
                        <li>
                            <div class="container-techframe">
                                <img style="height: 90%; width: 90%;" alt="nodejs-logo" src="../SVG/nodejs-logo.svg"/>
                            </div>
                        </li>
                        <li class="container-techframe ">
                            <div class="container-techframe">
                                <img style="height: 90%; width: 90%;" alt="nodejs-logo" src="../SVG/nodejs-logo.svg"/>
                            </div>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="container-ops">
                <div class="workoffer-op">
                    <h6 class="regular-link-txt">Work Offer</h6>
                    <ul class="ops-list">
                        <li class="op-element-alignment-1 gral-icon-style">
                            <a href="" aria-label="Linkedin" target="_blank">
                                <i class="ri-linkedin-fill"></i>
                            </a>
                        </li>
                        <li class="gral-icon-style">
                            <a href="" aria-label="Resume" target="_blank">
                                <i class="ri-file-download-fill"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="container-orderbtn base-btn">
                    <div class="base-btn order-btn-style">
                        <a href="" aria-label="Order" target="_blank" class="ligth-regular-txt-2">Order!</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="col-md-4">
            <div class="container-stack">
                <div class="stack-col">
                    <ol class="stack-list">
                        <li>
                            <!-- Stack SVG -->
                            <div class="container-techframe">
                                <img style="height: 90%; width: 90%;" alt="nodejs-logo" src="../SVG/nodejs-logo.svg"/> 
                            </div>
                        </li>
                        <li>
                            <!-- Stack SVG -->
                            <div class="container-techframe">
                                <img style="height: 90%; width: 90%;" alt="nodejs-logo" src="../SVG/nodejs-logo.svg"/> 
                            </div>
                        </li>
                        <li>
                            <!-- Stack SVG -->
                            <div class="container-techframe">
                                <img style="height: 90%; width: 90%;" alt="nodejs-logo" src="../SVG/nodejs-logo.svg"/> 
                            </div>
                        </li>
                        <li>
                            <!-- Stack SVG -->
                            <div class="container-techframe">
                                <img style="height: 90%; width: 90%;" alt="nodejs-logo" src="../SVG/nodejs-logo.svg"/> 
                            </div>
                        </li>
                        <li>
                            <!-- Stack SVG -->
                            <div class="container-techframe">
                                <img style="height: 90%; width: 90%;" alt="nodejs-logo" src="../SVG/nodejs-logo.svg"/> 
                            </div>
                        </li>
                        <li>
                            <!-- Stack SVG -->
                            <div class="container-techframe">
                                <img style="height: 90%; width: 90%;" alt="nodejs-logo" src="../SVG/nodejs-logo.svg"/> 
                            </div>
                        </li>
                        <li>
                            <!-- Stack SVG -->
                            <div class="container-techframe">
                                <img style="height: 90%; width: 90%;" alt="nodejs-logo" src="../SVG/nodejs-logo.svg"/> 
                            </div>
                        </li>
                        <li>
                            <!-- Stack SVG -->
                            <div class="container-techframe">
                                <img style="height: 90%; width: 90%;" alt="nodejs-logo" src="../SVG/nodejs-logo.svg"/> 
                            </div>
                        </li>
                        <li>
                            <!-- Stack SVG -->
                            <div class="container-techframe">
                                <img style="height: 90%; width: 90%;" alt="nodejs-logo" src="../SVG/nodejs-logo.svg"/> 
                            </div>
                        </li>
                        <li>
                            <!-- Stack SVG -->
                            <div class="container-techframe">
                                <img style="height: 90%; width: 90%;" alt="nodejs-logo" src="../SVG/nodejs-logo.svg"/> 
                            </div>
                        </li>
                    </ol>
                    <ol class="stack-list">
                        <li>
                            <!-- Stack SVG -->
                            <div class="container-techframe">
                                <img style="height: 90%; width: 90%;" alt="nodejs-logo" src="../SVG/nodejs-logo.svg"/> 
                            </div>
                        </li>
                        <li>
                            <!-- Stack SVG -->
                            <div class="container-techframe">
                                <img style="height: 90%; width: 90%;" alt="nodejs-logo" src="../SVG/nodejs-logo.svg"/> 
                            </div>
                        </li>
                        <li>
                            <!-- Stack SVG -->
                            <div class="container-techframe">
                                <img style="height: 90%; width: 90%;" alt="nodejs-logo" src="../SVG/nodejs-logo.svg"/> 
                            </div>
                        </li>
                        <li>
                            <!-- Stack SVG -->
                            <div class="container-techframe">
                                <img style="height: 90%; width: 90%;" alt="nodejs-logo" src="../SVG/nodejs-logo.svg"/> 
                            </div>
                        </li>
                        <li>
                            <!-- Stack SVG -->
                            <div class="container-techframe">
                                <img style="height: 90%; width: 90%;" alt="nodejs-logo" src="../SVG/nodejs-logo.svg"/> 
                            </div>
                        </li>
                        <li>
                            <!-- Stack SVG -->
                            <div class="container-techframe">
                                <img style="height: 90%; width: 90%;" alt="nodejs-logo" src="../SVG/nodejs-logo.svg"/> 
                            </div>
                        </li>
                        <li>
                            <!-- Stack SVG -->
                            <div class="container-techframe">
                                <img style="height: 90%; width: 90%;" alt="nodejs-logo" src="../SVG/nodejs-logo.svg"/> 
                            </div>
                        </li>
                        <li>
                            <!-- Stack SVG -->
                            <div class="container-techframe">
                                <img style="height: 90%; width: 90%;" alt="nodejs-logo" src="../SVG/nodejs-logo.svg"/> 
                            </div>
                        </li>
                        <li>
                            <!-- Stack SVG -->
                            <div class="container-techframe">
                                <img style="height: 90%; width: 90%;" alt="nodejs-logo" src="../SVG/nodejs-logo.svg"/> 
                            </div>
                        </li>
                        <li>
                            <!-- Stack SVG -->
                            <div class="container-techframe">
                                <img style="height: 90%; width: 90%;" alt="nodejs-logo" src="../SVG/nodejs-logo.svg"/> 
                            </div>
                        </li>
                    </ol>
                    <ol class="stack-list">
                        <li>
                            <!-- Stack SVG -->
                            <div class="container-techframe">
                                <img style="height: 90%; width: 90%;" alt="nodejs-logo" src="../SVG/nodejs-logo.svg"/> 
                            </div>
                        </li>
                        <li>
                            <!-- Stack SVG -->
                            <div class="container-techframe">
                                <img style="height: 90%; width: 90%;" alt="nodejs-logo" src="../SVG/nodejs-logo.svg"/> 
                            </div>
                        </li>
                        <li>
                            <!-- Stack SVG -->
                            <div class="container-techframe">
                                <img style="height: 90%; width: 90%;" alt="nodejs-logo" src="../SVG/nodejs-logo.svg"/> 
                            </div>
                        </li>
                        <li>
                            <!-- Stack SVG -->
                            <div class="container-techframe">
                                <img style="height: 90%; width: 90%;" alt="nodejs-logo" src="../SVG/nodejs-logo.svg"/> 
                            </div>
                        </li>
                        <li>
                            <!-- Stack SVG -->
                            <div class="container-techframe">
                                <img style="height: 90%; width: 90%;" alt="nodejs-logo" src="../SVG/nodejs-logo.svg"/> 
                            </div>
                        </li>
                        <li>
                            <!-- Stack SVG -->
                            <div class="container-techframe">
                                <img style="height: 90%; width: 90%;" alt="nodejs-logo" src="../SVG/nodejs-logo.svg"/> 
                            </div>
                        </li>
                        <li>
                            <!-- Stack SVG -->
                            <div class="container-techframe">
                                <img style="height: 90%; width: 90%;" alt="nodejs-logo" src="../SVG/nodejs-logo.svg"/> 
                            </div>
                        </li>
                        <li>
                            <!-- Stack SVG -->
                            <div class="container-techframe">
                                <img style="height: 90%; width: 90%;" alt="nodejs-logo" src="../SVG/nodejs-logo.svg"/> 
                            </div>
                        </li>
                        <li>
                            <!-- Stack SVG -->
                            <div class="container-techframe">
                                <img style="height: 90%; width: 90%;" alt="nodejs-logo" src="../SVG/nodejs-logo.svg"/> 
                            </div>
                        </li>
                        <li>
                            <!-- Stack SVG -->
                            <div class="container-techframe">
                                <img style="height: 90%; width: 90%;" alt="nodejs-logo" src="../SVG/nodejs-logo.svg"/> 
                            </div>
                        </li>
                    </ol>
                </div>
            </div>
        </section>
        <section class="col-md-4">
            <div class="container-carousel">
                <div class="card-project">
                    <h3 class="main-medium-txt-3" style="text-align: center; margin-top:2%;">Project Name</h3>
                    <div class="container-icon-btn">
                        <a href="" class="gral-icon-style">
                            <i class="ri-external-link-line"></i>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>