<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- Style Sheets -->
     <link rel="stylesheet" href="../stylesheets/tipography.css">
     <link rel="stylesheet" href="../stylesheets/grid.css">
     <link rel="stylesheet" href="../stylesheets/components.css">
     <!-- Extern Style Elements -->
     <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
     
    <title>Document</title>
</head>
<body>
    <div class="row">
        <div class="col-md-4">
            <div class="container-img">
                <img src="" alt="">
                <h3>Technology Name</h3>
            </div>
            <div class="container-info">
                <div class="exp-block">
                    <h5 class="main-medium-txt-2">Experience</h5>
                    <p>Info, experience, projects</p>
                </div>
                <div class="divider-bar"></div>
                <div class="frames-block">
                    <ol>
                        <li>Frame 1</li>
                        <li>Frame 2</li>
                        <li>Frame 3</li>
                    </ol>
                </div>
            </div>
            <div class="container-ops">
                <div class="workoffer-op">
                    <ul>
                        <li>Work Offer</li>
                        <li>
                            <a href="">
                                <i></i>
                            </a>
                        </li>
                        <li><i></i></li>
                    </ul>
                </div>
                <div class="order-btn">
                    <a href="">Order!</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="container-stack">
                <div class="stack-col">
                    <ol>
                        <li>
                            <!-- Stack SVG -->
                            <img src="" alt="">
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="container-carousel">
                
            </div>
        </div>
    </div>
</body>
</html>