.title-word {
    animation: color-animation 4s linear infinite;
}
  
.title-word-1 {
    --color-1: #FF324E;
    --color-2: #00DFC9;
    --color-3: #E4A9A8;
}
.title-word-2 {
    --color-1: #00DFC9;
    --color-2: #E4A9A8;
    --color-3: #FF324E;
}

@keyframes color-animation {
    0%    {color: var(--color-1)}
    32%   {color: var(--color-1)}
    33%   {color: var(--color-2)}
    65%   {color: var(--color-2)}
    66%   {color: var(--color-3)}
    99%   {color: var(--color-3)}
    100%  {color: var(--color-1)}
}
  