:root{
    --gray-1:#E4E9E9;
    --gray-2:#1D1F21;
    --gray-4:#2C3334;
    --white-1:#FFFFFF;

    --blue-1:#0CACDF;
    --greenblue-1:#00DFC9;

    --crystal-1:rgba(217, 217, 217, .2);
    --gray-shadow:rgba(0, 0, 0, 0.25);
    --navy-shadow: rgba(2,12,27,0.7);
    --lightgreen-shadow:rgba(0,223,201,1);
}

.base-btn {
    justify-content: center;
    align-items: center;
    display: flex;
}

.btn-s2 {
    background-color: var(--crystal-1);
    color: black;
    padding: 3px 20px;
    border: none;
    border-radius: 25px;
}

.element-pos-form-1{
    width: 100%; 
    position: relative; 
}

.container-input-1 {
    width: auto; 
    display: inline-block;
}

.container-ops-2 {
    display: flex;
    width: auto;
    margin-top: 3%;
    align-items: center;
}

@media (min-width:992px) and (orientation: landscape) {
    .hook-text-container {
        width: 100%;
        height: auto;
    }

    .button-s1 {
    background:white;
    height: 45px;
    width: 25%;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:70%; 
    margin-top:8%;
    box-shadow: 12px 18px 12px -10px rgba(0,0,0,0.51);
    -webkit-box-shadow: 12px 18px 12px -10px rgba(0,0,0,0.51);
    -moz-box-shadow: 12px 18px 12px -10px rgba(0,0,0,0.51);
    }

    .social-list {
    display:flex;
    flex-direction:column;
    -webkit-box-align: center;
    align-items: center;
    margin:0px;
    padding: 0px;
    list-style: none;
    }

    .social-list-2 {
    display:flex;
    flex-direction:column;
    -webkit-box-align: center;
    align-items: center;
    margin:0px;
    padding: 0px;
    list-style: none;
    }
    .social-list::before {
    content: "";
    display: block;
    width: 1.5px;
    height: 90px;
    margin: 0 auto;
    background:black;
    }

    .hook-section-container {
    margin-top: 7%;
    }

    .icon-button {
    border:none;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    }

    .bottom-element {
    position:absolute;
    margin-top: 42%;
    }

    .artboard-carousel{
    height: 600px;
    width: 100%;
    }

    .card-container {
    width: 100%;
    height: 100%;
    }

    .order-card {
    border-radius:12px;
    width: 55%;
    height:10%;
    background:var(--gray-1);
    display: flex;
    box-shadow: 0 15px 20px -15px var(--navy-shadow);
    }

    .float-icon-container {
        position:absolute;
    }

    .container-img {
        position: absolute;
        right: 80.2%;
        bottom:65%;
        background: var(--gray-4);
        height:320px;
        width: 320px;
        display: flex;
        border-radius: 57px;
        rotate: 30deg;
    }

    .container-info{
        position: absolute;
        top: 40%;
    }

    .container-stack{
        width:100%;
        margin: auto;
        margin-top: 30%;
    }
    .container-techframe {
        height: 70px;
        width: 70px;
        margin-bottom:10%;
        justify-content: center;
        display: flex;
        align-items: center;
        background: var(--white-1);
        box-shadow: 4px 8px 10px var(--gray-shadow);
        border-radius: 12px;
    }

    .container-ops {
        display: flex;
        width: 75%;
        margin-left: 17.5%;  
    }

    .workoffer-op {
        display: block;
        width: 20%;
        margin:0;
    }

    .ops-list {
        display: flex;
        justify-content: center;
        padding: 0;
        align-items: center;
    }

    .container-btn {
        width: 20%;
    }

    .order-btn-style {
        background: var(--gray-1);
        border-radius: 12px;
        width: 40%;
        height: 25px;
    }

    .exp-block {
        width: 25%;
        margin-left:22%;
    }

    .stack-list { 
        padding-left: 3%;
    }

    .container-carousel {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card-project {
        background:var(--crystal-1);
        height: 60%;
        width: 65%;
        border-radius: 15px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    .container-icon-btn {
        display: flex;
        justify-content: right;
        align-items: baseline;
        margin-right:3%;
        z-index: 2;
        position: relative;
        margin-top: 130%;
    }

    .container-projectname {
        display: block;
        justify-content: center;
        text-align: center;
    }

    .container-project-info {
        height: 100%;
    }

    .container-linkrepo {
        width: 68%;
        position: absolute;
        top:30%;
        z-index: 10;
        display: flex;
        flex-direction:column-reverse;
        text-align: right;
    }

    .description-project {
        width: 50%;
        margin-top: 50%;
    }

    .link-btn {
        width:25%;
        height: 30px;
        border-radius: 15px;
        background: var(--greenblue-1);
    }

    .container-appdemo {
        position: absolute;
        left: 60%;
        bottom:55%;
        height: 50%;
        width: 40%;
        border-radius: 30px;
        background-image: url(../SVG/app-ex.png);
        background-size: 100%;
    }

    .container-project-details {
        display: flex;
    }

    input.input-style-1{
        width: 100%; 
        padding-left: 22%;  
    }
    
    .container {
        max-width: 70%;
        padding: 2%;
        margin: 0 auto;
        border-radius: 10px;
        background-color: none;
    }
    
    .select-style-1 {
        display: grid;
        grid-template-areas: "select"
    }
    .select-style-1::after {
        content: "";
        width: 0.8em;
        height: 0.5em;
        background-color: var(--gray-2);
        clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    }

}

/*Responsive Styles*/
@media (min-width:390px) and (orientation: portrait){
    .sm-hook-text-container {
        width: 70%;
        display: flex;
        flex-direction: column;
        margin-left: 18%;
        margin-top: 8%;
        
    }

    .button-s2-smv{
        width: 45%;
        height: 45px;
        background:none;
        border: 1px solid black;
        text-align: center;
        margin-left: 18%;
        margin-top: 3%;
    }

    .button-s3-smv{
        width: 60%;
        height: 45px;
        background:var(--greenblue-1);
        text-align: center;
        border-radius: 25px;
        box-shadow: -3px 3px 112px -5px var(--lightgreen-shadow);
        -webkit-box-shadow: -3px 3px 112px -5px var(--lightgreen-shadow);
        -moz-box-shadow: -3px 3px 112px -5px var(--lightgreen-shadow);
    }

    input.input-sm-style-1 {
        width: 80%;
        padding-left:22% ;
    }
    .sm-img-container {
        bottom: 55%;
        position: absolute;
        height: 310px;
        width: 270px;
        background: var(--gray-4);
        border-radius: 30px;
        margin-left:15.35%;
    }

    .sm-image-sizing{
        width: 270px;
    }
    .sm-info-container{
       margin-top: 80%; 
    }
    .sm-techframe {
        height: 52px;
        width: 52px;
        margin-top:10%;
        justify-content: center;
        display: flex;
        align-items: center;
        background: var(--white-1);
        box-shadow: 4px 8px 10px var(--gray-shadow);
        border-radius: 18px;
    }
    .sm-container-stack {
        margin-top: 3%;
        margin-left: 5%;
    }
    .sm-app-demo {
        position: absolute;
        top: 9%;
        height: 50%;
        width: 392px;
        border-radius: 30px;
        background-image: url(../SVG/app-ex.png);
        background-size: 100%;
        background-repeat: no-repeat;
    }
    .sm-description {
        width: 80%;
        text-align: justify;
        margin-top: 5%;
        margin-left: 10%;
    }
    .cotainer-text {
        display: flex;
        align-items: baseline;
        margin-top: 80%;
        margin-left: 8%;
    }
    .sm-link-btn {
        width:35%;
        height: 30px;
        border-radius: 15px;
        background: var(--greenblue-1);
    }
    .sm-linkrepo {
        position: absolute;
        top:32%;
        right: 3%;
    }
}